.App {
  text-align: center;
  background-color: black;
}

* {
  font-family: "Avenir", sans-serif
}

.nav-title {
  color: black;
}

.button {
  background-color: red;
  border-color: black;
  color: white;
  padding: 12px;
  border-radius: 3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.name {
  color: #0f0
}

.userpic {
  border-radius: 50%
}

.profileText {
  color: black
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  background-color: #0f0;
  justify-content: top;
}

.recipe {
  color: white;
}

.profile {
  background-color: #0f0;
  padding: 20px;
  margin: 10px;
  width: 80%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
